@import "variables.scss";
@import "mixins.scss";

.about-section{
    @include display-flex(flex, null, center);
    align-items: center;
    position: relative;
    top: $top-default;
    background-color: white;
    z-index: $onTop;
    height: 580px;
    background-image: url('../images/about-bg-04.jpg');
    background-repeat: no-repeat;
    background-size: cover;


    .about-text-container{
        @include display-flex(flex, row, null);
        width: $center-width;
        padding-bottom: 30px;

        .about-title{
            @extend .section-title;
        }

        .about-content{
            @include font-style( $third-font-family, $text-secondary-col, $sm-med-font, normal);
            line-height: 22px;
            width: 65%;
            position: relative;

            p:first-child{
                margin-top: 0px;
            }

        }

    }
}