@import "variables.scss";
@import "mixins.scss";

.contact-section{
    @include display-flex(flex, null, center);
    position: relative;
    top: $top-default;
    height: 800px;
    align-items: center;
    background-color: rgba($light, 0.4);

    .contact-container{
        @include display-flex(flex, row, null);
        width: $center-width;

        .contact-title{
            @extend .section-title;
        }

        .contact-content{
            position: relative;
            width: 65%;
        }
    }
}

.contact-block-section{
    @include display-flex(flex, column, null);
    padding-bottom: 30px;
    padding: 10px;
    margin-bottom: 30px;

        @include text-and-headings(){
            h4{
                margin-bottom: 30px;
            }

            span{
                font-weight: bold;
            }
        };

}

.contact-block-section:nth-child(2){
    figure{
        width: 100%;
        margin: 0px;
        border: 3px solid white;

        img{
            width: 100%;
        }
    }
}

.contact-block-section:nth-child(3){
        form{
            @include display-flex(flex, column, null);

            @include primary-button(){
                width: 48px;
                @include padding-and-margin( 7px 3px, null);
                align-self: flex-end;
            };
        }
}

.contact-inputboxes{
        @include display-flex(flex, column, null);
        flex-wrap: wrap;
        height: 102px;

            input{
                @include font-style( $third-font-family, $text-secondary-col, $sm-med-font, normal);
                width: 48%;
                height: 25px;
                border: none;
                margin-bottom: 5px;
                margin-right: 3px;
                padding: 2px 0px 2px 5px;    
            }

            textarea{
                @include font-style( $third-font-family, $text-secondary-col, $sm-med-font, normal);
                width: 50%;
                height: 92px;
                border: none;
                padding: 3px 0px 2px 5px;
            }
}

.contact-text{
    @include display-flex(flex, row, space-between);

            article{
                height: 170px;
                
            }

            article:first-child{
                border-right: 1px solid $light;
                width: 55%

            }

            article:nth-child(2){
                padding-left: 60px;
                width: 45%;
            }
}