@import "variables.scss";
@import "mixins.scss";

.scrollUp-bar{
    @include display-flex(flex, row, space-around);
    position: relative;
    top: $top-default;
    background-color: rgba($primary-color, 0.4);
    height: 70px;
    align-items: center;
    z-index: $onTop;

            @include mediaQ($large-screen){
                top: 90px;
            }

            @include mediaQ($medium-screen){
                top: 70px;
            }

            @include mediaQ($small-screen){
                top: 0px;
                height: 160px;
            }

    div{
        text-align: center;

        .up-arrow{
             @include font-style( $third-font-family, $text-secondary-col, $large-font, normal);
        
              @include mediaQ($small-screen){
                    font-size: $Xlarge-font;
                    height: 45px;
            }
        }

        p{
            @include font-style( $third-font-family, $text-secondary-col, $sm-med-font, normal);
            margin: 0px;

                @include mediaQ($small-screen){
                    font-size: $large-font;
                }
        }
    }

}

footer{
    @include display-flex(flex, row, space-around);
    position: relative;
    top: $top-default;
    height: 50px;

            @include mediaQ($medium-screen){
                top: 70px;
            }

            @include mediaQ($large-screen){
                top: 90px;
            }


        @include mediaQ($small-screen){
            top: 0px;
            height: 100%;
        }

    .footer-content{
        @include display-flex(flex, row, space-between);
        width: $center-width;

        @include mediaQ($medium-screen){
            width: $smaller-center-width;
        }

            @include mediaQ($small-screen){
                @include display-flex(flex, column-reverse, space-between);
                width: 100%;
                align-items: center;
            }

            p{
                @include font-style( $third-font-family, null, $sm-med-font, normal);
                line-height: 22px;
                flex-grow: 3;
                margin-top: 8px;

                    @include mediaQ($small-screen){
                        font-size: $mobile-medium-font;
                    }
            }

            ul{
                font-size: $large-font;
                list-style: none;
                margin-top: 8px;
                color: $dark;

                    @include mediaQ($small-screen){
                        margin-top: 30px;
                        margin-bottom: 5px;
                        padding: 0px;
                     }


                li{
                    display: inline-block;

                    @include mediaQ($small-screen){
                        font-size: $mobile-large-font;
                    }

                }
            }
    }
}