@import "variables.scss";
@import "mixins.scss";


header {
    @include display-flex(flex, column, null);
    @include font-style($primary-font-family, $dark, $small-font, normal);
    position: fixed;
    z-index: 4;
    background-color: rgba(white, 0.9);
    width: 100%;

        @include mediaQ($large-screen){
            position: relative;
        }

            @include mediaQ($small-screen){
                @include display-flex(flex, column-reverse, null);
                position: relative;
                
                
                ul{
                    display: inline-block;

                        @include mediaQ($medium-screen){
                            display: none;
                        }
                }
            }
}

.phone-block{
    @include display-flex(flex, null, center);   
    background-color: lighten( $light, 8);

    .phone-box{
        width: $center-width;

        p{
            @include font-style( null, $primary-color, null, bold);
            @include padding-and-margin(10px 15px 10px 0px, 0px);
            text-align: right;

            @include mediaQ($medium-screen){
                font-size: $medium-font;
            }

            @include mediaQ($small-screen){
                text-align: center;
                font-size: $ml-font;
                font-weight: normal;
            }
        }
    }
}

.nav-block{
    @include display-flex(flex, null, center);

        nav{
            @include display-flex(flex, row, space-between);
            @include padding-and-margin(10px 10px 10px 10px, null);
            width: $center-width;
            align-items: center;

            @include mediaQ($medium-screen){
                @include display-flex(flex, row-reverse, space-between);

                @include mediaQ($small-screen){
                    @include display-flex(flex, row-reverse, flex-start);
                    margin-top: 20px;
                }
            }
    }
}

.burgerMenu{
    @include font-style( null, $text-secondary-col, $Xlarge-font, null);
    @include padding-and-margin(8px 6px 8px 6px, 0px 20px 0px 60px);
    background-color: $dark;
    border-radius: 8%;
    display: none;

        @include mediaQ($medium-screen){
            @include display-flex(flex, row, null);
        }
}

.logo-container{
    @include display-flex(flex, row, null);
    @include font-style( null, $medium, $large-font, null);
    @include padding-and-margin(null, 0px);
    align-items: center;
    text-transform: uppercase;

        @include mediaQ($large-screen){
                @include font-style( null, $medium, $ml-font, null);
        }

            img{
                @include padding-and-margin(5px 0px 5px 0px, null);
                width: 110px;
                height: 100px;
                opacity: 0.7;

                    @include mediaQ($large-screen){
                        width: 80px;
                        height: 70px;
                    };
    }

            span{
                @include font-style( $secondary-font-family, $dark, null, normal);
    
    }
}


.navbar{
    list-style: none;
    font-size: $small-font;          

    @include mediaQ($large-screen){
            font-size: $small-font;
            padding-left: 5px;          
    }

        @include mediaQ($medium-screen){
            display: none;
        }

            li{
                @include padding-and-margin( null, 0px 15px 0px 15px);
                    display: inline-block;   


                @include mediaQ($large-screen){
                    @include padding-and-margin( null, 0px 7px 0px 5px);
                    display: inline-block;  
                }            
    }
}           



