@import "variables.scss";
@import "mixins.scss";


header {
    @include display-flex(flex, column, null);
    @include font-style($primary-font-family, $text-primary-col, $small-font, null);
    @extend .header-shadow;
}

.phone-block{
    @include display-flex(flex, null, center);   
    background-color: lighten( $light, 8);

    .phone-box{
        @extend .center-width;

        p{
            @include font-style( null, $primary-color, null, bold);
            @include padding-and-margin(10px 25px 10px 0px, 0px);
            text-align: right;
        }
    }
}

.nav-block{
    @include display-flex(flex, null, center);

        nav{
            @include display-flex(flex, row, space-between);
            @include padding-and-margin(10px 10px 10px 10px, null);
            @extend .center-width;
            align-items: center;
    }
}

.logo-container{
    @include display-flex(flex, row, null);
    @include font-style( null, $medium, $large-font, null);
    align-items: center;
    margin: 0px;

            img{
                @include padding-and-margin(10px 0px 10px 0px, null);
                width: 130px;
                height: 120px;
    }

            span{
                @include font-style( null, $text-primary-col, null, bolder);
    }
}


.navbar{
    list-style: none;

            li{
                @include padding-and-margin( null, 0px 25px 0px 0px);
                display: inline-block;               
    }
}           



