@import "variables.scss";
@import "mixins.scss";


.side-gradiant{
    @extend .grey-grad;
}

.jumbotron{
    @include display-flex(flex, null, center);
    @include font-style($third-font-family, $text-primary-col, $medium-font, null);
    position: relative;
    background-color: $dark;
    height: 700px;
    top: $top-default;

    .jumbo-text-container{
        @include padding-and-margin(130px null null null, null);
        width: $center-width;
        position: absolute;
        z-index: $onTop;
        
    }
}

.jumbo-text{
    @extend .section-title;
    width: 280px;
    position: relative;

        p{
            @include padding-and-margin( null, 40px 0px 40px 0px);
            line-height: 24px;
        }

        @include primary-button(){};

}

.jumbo-img-slides{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    overflow: hidden;
    align-items: center;

        img{
            width: 100%;
            height: 1000px;
            position: relative;
    }
}