@import "variables.scss";
@import "mixins.scss";


.side-gradiant{
    position: absolute;
    width: 37%;
    height: 50%;
    background-color: rgba($light, 0.4);
    z-index: 1;
}


.jumbotron{
    @include display-flex(flex, null, center);
    @include font-style($primary-font-family, $text-primary-col, $medium-font, null);
    position: relative;
    background-color: $dark;
    height: 700px;
    top: 165px;

    .jumbo-text-container{
        @extend .center-width;
        @include padding-and-margin(130px null null null, null);
        position: absolute;
        z-index: 2;
        
    }
}

.jumbo-text{
    width: 280px;
    position: relative;

        h1{
            @include font-style( null, $text-primary-col, $Xlarge-font, normal);
            line-height: 48px;

                span{
                    @include font-style( $secondary-font-family, $text-primary-col, $Xlarge-font, normal);
                }
        }

        p{
            @include padding-and-margin( null, 40px 0px 40px 0px);
            @include font-style( null, null, null, bold);
            line-height: 24px;
        }

        button{
            @include font-style( null, $text-secondary-col, $medium-font, null);
            @include padding-and-margin( 10px 25px, null);
            background-color: $primary-color;
            border: none;
    }
}




.jumbo-img-slides{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    overflow: hidden;
    align-items: center;

        img{
            width: 100%;
            height: 1000px;
            position: relative;
            

    }
}