@import "variables.scss";
@import "mixins.scss";


.side-gradiant{
    display: flex;
    @extend .grey-grad;

        @include mediaQ($small-screen){
            display: none;
        }
}

.jumbotron{
    @include display-flex(flex, null, center);
    @include font-style($third-font-family, $text-primary-col, $medium-font, null);
    position: relative;
    height: 700px;
    top: $top-default;

    @include mediaQ($large-screen){
        height: 500px;
        top: 0px;
    }
        
        @include mediaQ($small-screen){
            @include display-flex(flex, column-reverse, center);
            top: 0px;
            height: 100%;
        }


    .jumbo-text-container{
        @include padding-and-margin(130px null null null, null);
        width: $center-width;
        position: absolute;
        z-index: $onTop;
        
        @include mediaQ($large-screen){
            width: $smaller-center-width;
            padding: 50px;

                @include mediaQ($small-screen){
                    @include padding-and-margin(0px null null null, null);
                    position: relative;
                    width: $small-screen;
                }
        }
    }
}

.jumbo-text{
    @extend .section-title;
    width: 280px;
    position: relative;

        @include mediaQ($small-screen){
            display: flex;
            flex-direction: column;
            width: 120px;
            padding: 5px 20px 40px 20px;
            margin: 30px;
            background-color: lighten( $light, 8);
        }

        p{
            @include padding-and-margin( null, 40px 0px 40px 0px);
            line-height: 24px;

                @include mediaQ($large-screen){
                        padding-left: 20px;
                    }

                @include mediaQ($small-screen){
                    font-size: $ml-font;
                    line-height: 26px;
                }
        }

        @include primary-button(){};

}

.jumbo-img-slides{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 700px;
    overflow: hidden;
    align-items: center;

     @include mediaQ($large-screen){
         height: 550px;
     
        @include mediaQ($small-screen){
            position: relative;
            height: 250px;
        }
     }

        img{
            width: 100%;
            min-width: 1000px;
            height: 1000px;
            position: relative;

                @include mediaQ($large-screen){
                    width: 1200px;
                    height: 900px;

                    @include mediaQ($small-screen){
                        width: 100%;
                        height: 150%;
                        min-width: 100%;
                    }
                }
    }
}