// ===== mixins with arguments ====


@mixin display-flex($display, $f-direct, $justify-cont){
    display: $display;
    flex-direction: $f-direct;
    justify-content: $justify-cont;
}


@mixin font-style($font-family, $font-color, $font-size, $font-weight){
    font-family: $font-family;
    color: $font-color;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin padding-and-margin($padding, $margin){
    padding: $padding;
    margin: $margin;
}

@mixin mediaQ($width){
    @media screen and (max-width: $width){
        @content;
    }
}


//==== none argument mixins ======

@mixin text-and-headings(){
    h4{
        @include font-style($third-font-family, $dark, $ml-font, normal);
        text-transform: uppercase;
        margin: 0px;
    }

    p{
        @include font-style( $third-font-family, null, $sm-med-font, normal);
        line-height: 22px;
    }

    @content;
}

@mixin primary-button(){
            
    button{
            @include font-style( null, $text-secondary-col, $sm-med-font, null);
            @include padding-and-margin( 10px 28px, null);
            background-color: $primary-color;
            border: none;
            @content;

                @include mediaQ($large-screen){
                    margin-left: 20px;
                }

                @include mediaQ($small-screen){
                    @include padding-and-margin( 10px 19px, null);
                    font-size: $ml-font;
                    align-self: center;
                    width: 80%;    
                }
    }
}

//==== extentions ======

// side-gradient

.grey-grad{
    position: absolute;
    width: 36.5%;
    height: 70%;
    background-color: rgba($light, 0.4);
    z-index: $under-text;

        @include mediaQ($large-screen){
            min-width: 400px;
            height: 550px;
        }
}

.grey-grad.white-grad{
    height: 1100px;
    z-index: $under-text;
    background-color: white;
    width: 37%;

        @include mediaQ($medium-screen){
            display:none;
        }

}

.header-shadow{
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.07);
}

// main sections titles on Left

.section-title{
    width: 35%;
    position: relative;
    z-index: 3;

        @include mediaQ($large-screen){
            width: 50%;
            min-width: 400px;
        }

        @include mediaQ($small-screen){
            width: 360px;
        }
        
    h3{
        @include font-style( $primary-font-family, $text-primary-col, $Xlarge-font, normal);
        line-height: 48px;
        margin-top: 0px;

        @include mediaQ($large-screen){
            padding: 30px 20px 0px 20px;
        }
            @include mediaQ($small-screen){
                margin-bottom: 36px;
                padding: 30px 20px 0px 0px;
            };

            span{
                @include font-style( $secondary-font-family, $text-primary-col, $Xlarge-font, bold);
        }
    }
}

.section-title.jumbo-font{
    width: 280px;

        @include mediaQ($small-screen){
            width: 360px;
        }

        h3{
            margin-top: 40px;

                @include mediaQ($small-screen){
                    width: 360px;
                    margin: 30px 0px 0px 0px;
                }
        }

}

.section-title.about-font{
        h3{
            color:$text-secondary-col;

            @include mediaQ($small-screen){
                padding-left: 20px;
            }

            span{
                color: $text-secondary-col;
            }
        }
}

// standard paragraph and heading styles for small text

.text-and-headings{
            span{
                @include font-style( null, $secondary-color, null, bolder);
                position: relative;
                top: 6px;
                padding: 0px 20px 0px 20px;
            }
            h4{
                @include font-style($third-font-family, $dark, $ml-font, normal);
                text-transform: uppercase;
                margin: 0px;
            }

            p{
                @include font-style( $third-font-family, null, $sm-med-font, normal);
                line-height: 22px;
            }


}