@import "variables.scss";
@import "mixins.scss";

.services-section{
    @include display-flex(flex, column, center);
    position: relative;
    top: $top-default;
    z-index: $onTop;

    .services-container{
        @include display-flex(flex, row, null);
        width: $center-width;
        align-self: center;
        padding-top: 90px;

        .services-title{
            @extend .section-title;
        }
    }
}

.category-block{
    @include display-flex(flex, row, space-between);
    flex-wrap: wrap;
    width: 65%;
    padding-bottom: 50px;

    .catergory{
        @include display-flex(flex, row, null);
        @include padding-and-margin( 10px 0px 20px 0px, null);
        width: 45%;

        div{
            @include text-and-headings(){
                span{
                    @include font-style( null, $secondary-color, null, bolder);
                    position: relative;
                    top: 6px;
                    padding: 0px 20px 0px 20px;
                }
            };
        }
    }
}
