@import "variables.scss";
@import "mixins.scss";

.section-title{
    width: 35%;
    position: relative;
        
    h3{
        @include font-style( $primary-font-family, $text-primary-col, $Xlarge-font, normal);
        line-height: 48px;
        margin-top: 0px;

            span{
                @include font-style( $secondary-font-family, $text-primary-col, $Xlarge-font, normal);
        }
    }
}