// color palette

$primary-color: lightseagreen;
$secondary-color: rgba($primary-color, 0.4);
$light: lightgrey;
$medium: darkgrey;
$dark: dimgrey;

$text-primary-col: black;
$text-secondary-col: white;


// font styles

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;
$third-font-family: 'Open Sans', sans-serif;

$small-font: 12.5px;
$sm-med-font: 14px;
$medium-font: 16px;
$ml-font: 20px;
$large-font: 24px;
$Xlarge-font: 46px;

//==== other =====

$center-width: 980px;

// z-index

$under-text: 1;
$onTop: 3;

// top position

$top-default: 165px;