// color palette

$primary-color: lightseagreen;
$secondary-color: salmon;
$light: lightgrey;
$medium: darkgrey;
$dark: dimgrey;

$text-primary-col: black;
$text-secondary-col: white;


// font styles

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;
$third-font-family: 'Open Sans', sans-serif;

$small-font: 12.5px;
$sm-med-font: 14px;
$medium-font: 16px;
$ml-font: 20px;
$large-font: 24px;
$Xlarge-font: 46px;

//extend classes

.header-shadow{
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.07);
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.07);
}

.center-width {
    width: 980px;
}