//--- color palette ---

$primary-color: lightseagreen;
$secondary-color: rgba($primary-color, 0.4);

//-- Grey's ---

$white: white;
$light-grey: lightgrey;
$medium-grey: darkgrey;
$dark-grey: dimgrey;
$black: black;

//-- font styles ---

$primary-font-family: 'Raleway', sans-serif;
$secondary-font-family: 'Montserrat', sans-serif;
$third-font-family: 'Open Sans', sans-serif;
